html {
/*    font-size: 62.5%;*/
    scroll-behavior:smooth
}

.header{
	background: #F2E7D5;
	height: 5.5rem;
}

body{
	margin: 0;
	box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif
}

#logo{
	height: 400px;
	width: 400px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
	font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight:800
}

.info{
	margin: 3rem auto 0 auto;
    max-width:45rem
}

.font-primary{
	color: #333;
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
    line-height:1.9rem;
}

#scrollDown{
	height: 3.5rem;
	width: 3.5rem;
}

#footer{
	margin-top: 3rem;
	background: #393E46;
	height: 15rem;
}
#header-content{
	  display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 5rem;
}

#social-logo-container{
	display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  transition:color .3s
}

#social-logo-container:hover{
	color:#6D9886;
}

.social{
	width:3rem
}

.social-logo-link{
/*	width: 100%;*/
  display: block;
  padding: .5rem;
  transition: background .3s;
  border-radius:5px;
}

.social-logo-link:hover{
	background: #F7F7F7;
}

.social-logo{
  width:100%
}

#header-links{
	display:flex;
}

.header__link{
		padding: 2.2rem 3rem;
/*    display: inline-block;*/
    font-size: 1.1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition:color .3s;
}

.header__link:hover {
    color:#F7F7F7;
}

a {
    text-decoration: none;
}

a:focus{
    outline:0
}

li {
    list-style:none
}