html {
/*    font-size: 62.5%;*/
    scroll-behavior:smooth;
}

.header{
	position: fixed;
	background: #F2E7D5;
/*	height: 5.5rem;*/
	width: 100vw;
	z-index: 1000;
}

body{
    margin: 0;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro', sans-serif;
}

#home{
/*	min-height: 50rem;
  max-height: 120rem;*/
  padding-top: 5rem;
  position:relative;
  min-height: 100vh;
}

#logo{
	height: 25rem;
	width: 25rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#introduction{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight:800
}

.info{
	margin: 3rem auto 0 auto;
    max-width:45rem
}

.font-primary{
    color: #333;
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
    line-height:1.9rem;
}

.foot-big-font{
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:500;
}

#scrollDown{
	height: 3.5rem;
	width: 3.5rem;
}

#footer{
	background: #393E46;
	height: 14rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 8rem;
    padding-left: 8rem;
}

#footer-seperator{
    width: 100%;
    height: 0.03rem;
    background: lightgrey;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#footer-main{
    display: flex;
    justify-content: space-between;
}

#header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 4rem;
}

.social-logo-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition:color .3s
}

.social-logo-container:hover{
	color:#6D9886;
}

.social{
	width:3rem
}

.social-logo-link{
/*	width: 100%;*/
  display: block;
  padding: .5rem;
  transition: background .3s;
  border-radius:5px;
}

.social-logo-link:hover{
	background: #F7F7F7;
}

.social-logo{
  width:100%
}

#header-links{
	display:flex;
}

.header__link{
    padding-right: 2rem;
    /*    display: inline-block;*/
    font-size: 1.1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition:color .3s;
}

.header__link:hover {
    color:#F7F7F7;
}

a {
    text-decoration: none;
}

a:focus{
    outline:0
}

li {
    list-style:none
}

#about{
	background: #F7F7F7;
	padding-top: 5rem;
}

.title{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight:800
}

.secondary-title{
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: left;
    color: #111;
    font-weight:bold;
}

.font-medium{
  color: #555;
  font-size: 1.3rem;
  text-align: center;
  line-height:1.9rem;
  margin: auto;
  max-width: 40rem;
  font-weight: 400;
}

#personal{
	display: flex;
    justify-content: center;
    margin-top: 4rem;
}

#personal-picture{
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
	object-fit: cover;
}

#pic-vr-line{
	background: grey;
	height: 20rem;
	width: 0.1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

#personal-info{
    margin-top: 1rem;
}

#personal-table{
    column-width: 10rem;
}

.font-small{
    color: #555;
    font-size: 1.2rem;
    line-height:1.9rem;
    /*  margin: auto;*/
    /*  max-width: 40rem;*/
    font-weight: 350;
    text-transform: uppercase;
}

.font-paragraph{
    color: #555;
    font-size: 1.2rem;
    line-height:1.9rem;
    max-width: 30rem;
    font-weight: 500;
}

#skills-holder{
    display: flex;
    width: 30rem;
    height: fit-content;
    flex-wrap: wrap;
}

.skill-topic{
    padding: 0.6rem 1.3rem;
    background: rgba(153, 153, 153, .2);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    font-weight: 550;
    color:#666;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#professional{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}

#projects{
    padding-top: 5rem;
}

#contact{
    background: #F7F7F7;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#contact-box{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    max-width: 50%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 40px;
}

.input-field{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.input-field input{
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 20px 15px 20px 10px;
}

#contact-btn {
    display: block;
    box-shadow: none;
    border: none;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    min-width: 30%;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    padding-top: .5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

#contact-btn:hover{
    background-color: #039BE5;
    cursor: pointer;
}

#message-field{
    height: 10rem;
    overflow-y: hidden;
}

#message-field textarea{
    display: block;
    outline: none;
    border: none;
    resize: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 20px 15px 20px 10px;
    height: 100%;
    width: 100%;
}

#contact-box label{
    margin-left: 9%;
    font-size: 1.2rem;
    color: #666;
}