<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../asset/chatbot.css">
    <script type="text/javascript" src="../asset/chatBot.js"></script>
  </head>
  <body>
    <div class="chatbot-container">
      <div class="chatbot-header">
        <p>Hey there!👋<br>Ask me anything.</p>
      </div>
      <div class="chatbot-body">
        <!-- insert chatbot code here -->
        <input type="text" name="question" placeholder="Write and press enter.." value="" onkeypress="submitChat(event)">
      </div>
    </div>
  </body>
</html>