<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="../asset/homeDes.css">
</head>
<body>
	<header class="header">
		<div id="header-content">
			<div class="social-logo-container">
				<div class="social">
					<a href="https://www.linkedin.com/in/rahmanmahin/" class="social-logo-link" rel="noreferrer" target="_blank">
          			<img src="https://d33wubrfki0l68.cloudfront.net/d8e6e1e636531e28274a1b8b6d947b817f6145bd/d42d3/assets/svg/linkedin-dark.svg" alt="Linkedin Profile" class="social-logo">
        			</a>
				</div>
				<div class="social">
					<a href="https://github.com/MahinMuhammad" class="social-logo-link" rel="noreferrer" target="_blank">
          			<img src="https://d33wubrfki0l68.cloudfront.net/38469cf88d038b6ba3322c9fcb93a8f7167df4b9/cb0b9/assets/svg/github-dark.svg" alt="Github Profile" class="social-logo">
        			</a>
				</div>
				<div class="social">
					<a href="https://www.facebook.com/mahin5muhammad/" class="social-logo-link" rel="noreferrer" target="_blank">
          			<img src="../asset/facebook-icon.svg" alt="Facebook Profile" class="social-logo">
        			</a>
				</div>
			</div>
			<div id="header-main">
				<ul id="header-links">
					<li class="header__link-wrapper">
						<a href="#home" class="header__link"> Home </a>
					</li>
					<li class="header__link-wrapper">
						<a href="#about" class="header__link">About </a>
					</li>
					<li class="header__link-wrapper">
						<a href="" class="header__link">Projects </a>
					</li>
					<li class="header__link-wrapper">
						<a href="" class="header__link">Contact </a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<section id="home">
		<img id="logo" src="../asset/mahinsLogo.png" class="center">
		<h1 id="introduction">HEY, I'M MD. MAHINUR RAHMAN</h1>
		<div class="info">
			<p class="font-primary">
				I am a programmer. Learing web and mobile development. Currently focussed on Swift and JavaScript language.
			</p>
		</div>
		<img id="scrollDown" src="../asset/scrollDown.gif" class="center">
	</section>
	<section id="about">
		<h1 class="title">about me</h1>
		<p class="font-medium">Now you will know more of me, my skills, my current status as a person, a programmer and tech enthusiast</p>
		<div id="personal">
			<img id="personal-picture" src="../asset/personal-picture.JPG">
			<div id="pic-vr-line"></div>
			<div id="personal-info">
				<table class="font-small">
					<col style="width: 10rem">
					<thead>
					<tr>
						<td>age</td>
						<td>twenty five</td>
					</tr>
					</thead>
					<tr>
						<td>gender</td>
						<td>male</td>
					</tr>
					<tr>
						<td>current city</td>
						<td>dhaka</td>
					</tr>
					<tr>
						<td>nationalty</td>
						<td>bangladeshi</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="professional">
			<div id="professional-paragraph">
				<h2 class="secondary-title">What I do!</h2>
				<p align="justify" class="font-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div id="skills">
				<h2>Skills</h2>
				<div id="skills-holder">
					
				</div>
			</div>
		</div>
	</section>
	<section id="projects">
		
	</section>
	<section id="contact">
		
	</section>
	<section id="footer">
		<div id="footer-main">
			<div id="footer-text-space">
				<h3 class="foot-big-font">md. mahinur rahman</h3>
				<table style="color: white; font-size: 0.9rem;">
					<col style="width: 5rem">
					<thead>
						<tr>
							<td>Phone</td>
							<td>+8801302607858</td>
						</tr>
					</thead>
					<tr>
						<td>Email</td>
						<td>rahmanmahin@icloud.com</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>Dhaka, Bangladesh</td>
					</tr>
				</table>
			</div>
			<div id="footer-social">
				<h3 style="margin-left: 0.5rem;" class="foot-big-font">social</h3>
				<div class="social-logo-container">
					<div class="social">
						<a href="https://www.linkedin.com/in/rahmanmahin/" class="social-logo-link" rel="noreferrer" target="_blank">
	          			<img src="https://d33wubrfki0l68.cloudfront.net/d8e6e1e636531e28274a1b8b6d947b817f6145bd/d42d3/assets/svg/linkedin-dark.svg" alt="Linkedin Profile" class="social-logo">
	        			</a>
					</div>
					<div class="social">
						<a href="https://github.com/MahinMuhammad" class="social-logo-link" rel="noreferrer" target="_blank">
	          			<img src="https://d33wubrfki0l68.cloudfront.net/38469cf88d038b6ba3322c9fcb93a8f7167df4b9/cb0b9/assets/svg/github-dark.svg" alt="Github Profile" class="social-logo">
	        			</a>
					</div>
					<div class="social">
						<a href="https://www.facebook.com/mahin5muhammad/" class="social-logo-link" rel="noreferrer" target="_blank">
	          			<img src="../asset/facebook-icon.svg" alt="Facebook Profile" class="social-logo">
	        			</a>
					</div>
				</div>
			</div>
		</div>
		<div id="footer-seperator"></div>
		<p align="center" style="color: white; font-size: 0.8rem;">Developed by <a style="color: white" href=""><u>Md. Mahinur Rahman</u></a></p>
	</section>
</body>
</html>