<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="../asset/homeDes.css">
</head>
<body>
	<header class="header">
		
	</header>
	<section>
		<img id="logo" src="../asset/mahinsLogo.png" class="center">
		<h1>HEY, I'M MD. MAHINUR RAHMAN</h1>
		<div class="info">
			<p class="font-primary">
				I am a programmer. I am learing web and mobile development. Currently focussed on Swift and JavaScript language.
			</p>
		</div>
		<img id="scrollDown" src="../asset/scrollDown.gif" class="center">
	</section>
	<section id="footer">
		
	</section>
</body>
</html>